.main_div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}  
.collage-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    max-width: 800px;
    margin: 20px; 
  }
  
.collage-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
.collage-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

.collage-item.span-two-columns {
    grid-column: span 2;
  }